.portfolio-item-timeline {
  text-transform: uppercase;
  letter-spacing: 2px;
  margin-top: 3px;
  text-align: center;
  font-family: 'Noto Sans KR', sans-serif;
  font-size: 12px;
}

.portfolio-item-text > i {
  margin-right: 5px;
}

.portfolio-item-list {
  list-style: none;
}

.portfolio-item-list > li:before {
  font-family: 'FontAwesome';
  content: '\f067';
  margin: 0 5px 0 -15px;
}
.portfolio-links {
  display: flex;
  list-style: none;
  justify-content: space-evenly;
}
.portfolio-item-link > a {
  border-bottom: none;
}

.portfolio-item-link > a:hover {
  border-bottom: 1px dotted;
}
