.portfolio-item-list {
  list-style: none;
}
.portfolio-links {
  display: flex;
  list-style: none;
  justify-content: space-evenly;
}
.portfolio-item-link > a {
  border-bottom: none;
}

.portfolio-item-link > a:hover {
  border-bottom: 1px dotted;
}
